# Optimisations pour le build de production
audit=false
fund=false
update-notifier=false

# Suppression des warnings de dépréciations
legacy-peer-deps=true

# Optimisation de l'installation
prefer-offline=true
progress=false